.ipynb_checkpoints
notes
*~
\#notes\#
.\#notes
literature/bayesian-choice.pdf
literature/2005-Statistical_and_Computational_Inverse_Problems.pdf
literature/monte-carlo-strategies-scientific-computing.pdf
literature/billingsley.pdf
