# result directory is just very large
results/

# latex files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

# auto folder when using emacs and auctex
./auto/*
*.el


.ipynb_checkpoints
notes
*~
\#notes\#
.\#notes

literature/*